* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  max-width: 423px;
  margin: 0 auto;
  background: rgb(129, 117, 117);
}
main {
  font-size: 2.5rem;
  margin-top: 0.1rem;
  width: fit-content;
  height: auto;
  padding: 2rem;
  background-color: rgb(194, 166, 166);
  border-radius: 2rem;
}
h4 {
  margin-top: 2rem;
}

td {
  padding-right: 2rem;
}
[name~="qty"] {
  width: 4rem;
  height: 2rem;
}
[name~="price"] {
  width: 5rem;
  height: 2rem;
}
[name~="tip"] {
  width: 2rem;
  height: 1.5rem;
  margin-right: 1rem;
}
label,
button {
  cursor: pointer;
}

button {
  width: 10rem;
  height: 3rem;
}

/* Chrome, Safari, Edge, Opera */
#hide::-webkit-outer-spin-button,
#hide::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#hide[type="number"] {
  -moz-appearance: textfield;
}
