* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  margin: auto;
  font-size: 2.4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 900px;
}

h1{
  margin:2rem;
  font-weight: 600;
  width:100vw;
  font-size: 4rem;
}

a{
  text-decoration: none;
}

img{
  width:40rem;
}

main{
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content: space-around;
}

.item{
  position: relative;
  width:40rem;
  border-radius: 5px;
  box-shadow: 0 0 3px 5px rgb(0,0,0,0.2);
  margin-bottom:5rem;
  overflow: hidden;
}

.item img{
  height: 100%;
  width: 100%;
  transition: .5s ease-in-out;
}

.item:hover img{
  transform: scale(1.5);
}

.item p{
  color:black;
  position: absolute;
  bottom:1rem;
  right:1rem;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 4rem;
  font-weight: 500;
  font-size: 2rem;
  opacity:0;
  transition: .2s ease-in-out;
}

.item:hover p,.item:focus p{
  opacity:1;
}