@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Covered+By+Your+Grace&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  max-width: 956px;
  margin: auto;
}
main {
  height: 100vh;
  width: 100%;
}

header {
  width: 100vw;
  height: 10rem;
  position: fixed;
  background-color: white;
  z-index: 3;
  display: flex;
}
h3 {
  margin-top: 3.5rem;
  font-size: 2rem;
}
#clock {
  font-family: "Bungee", cursive;
  height: 5rem;
  width: 14rem;
  background-color: rgb(179, 97, 77);
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}

#news-list {
  font-size: 2rem;
  width: auto;
  position: relative;
  top: 10rem;
  margin: 2rem auto;
  padding: 2rem;
  padding: 1rem;
  margin-top: 0;
  border-radius: 2px;
  max-width: 600px;
  margin-bottom:30px;
}

#news{
  display: block;
}
#image img {
  border-radius: 1px;
  float: left;
  max-width: 20rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

#title {
  font-weight: 600;
}

#author {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: rgb(119, 119, 119);
}
#description {
  color: rgb(87, 85, 85);
}
#link {
  font-style: italic;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: rgb(206, 138, 138);
}

@media (max-width: 513px) {
  #image {
    width: 100vw;
    float: left;
    margin-bottom: 1rem;
  }
}
