*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

div{
  color:white;
  z-index: 100;
  position: absolute;
  font-size: 16px;
  padding: 1rem;
  user-select: none;
}