*{
  padding:0;
  margin: 0;
  user-select: none;
  font-weight: 400;
}

body{
  font-family: Helvetica, sans-serif;
}

h2{
  padding:4px;
}

main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
canvas{
  box-shadow: 0 0 3px 5px rgba(0,0,0,0.1) , 0 0 3px 5px rgba(0,0,0,0.1);
}

#options{
  display: flex;
  justify-content: space-between;
  width : calc(0.8*100vw);
  margin-top: 10px;
  flex-wrap: wrap;
}

#options > *{
  margin-bottom: 1rem;
}

label,select,#colors{
  padding:0 5px 0 5px;
  cursor: pointer;
  border: none;
  box-shadow:0 3px 1px 1px rgba(0,0,0,0.1);
}

#colors button i{
  border-radius:50%;
  border:1px solid black;
  cursor: pointer;
}

#colors button{
  border:none;
  background-color: transparent;
  outline-color:transparent ;
}

input,select{
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline-color: white;
}

#width{
  width:50px;
}

#theme{
  font-size: 1rem;
  position: absolute;
  left:0;
  bottom: 50%;
  transform: rotate(270deg);
  pointer-events: none;
  color:white;
  display: inline-block;
}

.hide{
  display: none;
}